<index:>
  <header>
    <div class="container">
      <div class="row">
        <div class="col">
          <div class="row justify-content-start">
            <div class="col-2">
              <a href="/" class="black">
                <i class="fab fa-instagram fa-2x"></i>
              </a>
            </div>
            <div class="col-10">
              <a href="/" class="black">
                <h3>Instaclone</h3>
              </a>
            </div>
          </div>
        </div>
        <div class="col align-center">
            <input type="text" placeholder="Search" on-input="search($event)">
        </div>
        <div class="col">
          <div class="row justify-content-end">
            <div class="col-3">
              <i class="fab fa-wpexplorer fa-2x"></i>
            </div>
            <div class="col-3">
              <i class="far fa-heart fa-2x"></i>
            </div>
            <div class="col-3">
              <a href="/{{#root._session.user.username}}" class="black">
                <i class="far fa-user fa-2x"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>
  <hr>