// Move down content because we have a fixed navbar that is 50px tall
body
  padding-top: 2rem
  padding-bottom: 1rem

input::placeholder
  text-align: center;

.align-center
  text-align: center

div.card
  width: 18rem;
  margin: auto;

.avatar-sm
  vertical-align: middle;
  width: 25px;
  height: 25px;
  border-radius: 50%;

.avatar-md
  vertical-align: middle;
  width: 50px;
  height: 50px;
  border-radius: 50%;

.avatar-lg
  vertical-align: middle;
  width: 150px;
  height: 150px;
  border-radius: 50%;

.post
  padding-bottom: 1rem;

.post .card-body
  padding: 0.5rem

.profile-tab
  margin: auto;
  width: 50%;

.black
  color:black;